@import '@coinbase/onchainkit/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --youfi-primary: 217 100% 50%;
    --youfi-secondary: 220 12% 5%;
    --youfi-accent: 153 94% 36%;
  }

  body {
    @apply bg-youfi-secondary text-white antialiased;
  }
}

@layer components {
  .youfi-gradient {
    @apply bg-gradient-to-r from-youfi-primary to-youfi-accent bg-clip-text text-transparent;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}